@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}
.logo{
    width: 200px;
}
.container-search{
    display: flex;
    align-items: end;
}
.textbox{
    width: 300px;
    padding: 8px 20px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 1px solid #b2b2b2;
    border-right: none;
}
.textbox:focus{
    outline: none;
    border-color: #334f81;
}
.search{
    display: flex;
    padding: 8px 20px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #fff;
    border: 1px solid #b2b2b2;
    border-left: none;
    align-items: center;
}
.search-picture{
    width: 20px;
}
