<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/navbar.css">
    <title>Navbar</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <header>
        <div class="container">
            <img src="../IMG/logo 1.png"class="logo">
            <div class="container-textbox">
                <input type="text" class="textbox" placeholder="O que você procura?">
                <button href="#"><i class="ri-search-line" type="submit"></i></button>
            </div>
            <div class="main">
                <a href="#" id="service">Atendimento</a>
                <a href="#"><i class="ri-heart-3-fill" id="heart"></i></a>
                <a href="#" class="bag">
                    <i class="ri-shopping-bag-2-fill"></i>
                    0
                </a>
                <a href="#" class="user">
                    <i class="ri-user-3-fill"></i>
                    Entrar
                </a>
                
                <!--<div class="bx bx-menu" id="menu-icon"></div>-->
            </div>
        </div> 
        <ul class="navbar">
            <li>
                <a href="#">Roupas</a>
                <ul class="container-categorias">
                    <h3>Categorias</h3>
                    <li><a href="#">Blusas</a></li>
                    <li><a href="#">Calçados</a></li>
                    <li><a href="#">Casacos</a></li>
                    <li><a href="#">Conjuntos</a></li>
                    <li><a href="#">Jardineiras</a></li>
                    <li><a href="#">Leggings</a></li>
                    <li><a href="#">Pijamas</a></li>
                    <li><a href="#">Saias</a></li>
                    <li><a href="#">Shorts</a></li>
                    <li><a href="#">Vestidos</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Brinquedos</a>
                <ul class="container-categorias">
                    <h3>Categorias</h3>
                    <li><a href="#">Bicicletas</a></li>
                    <li><a href="#">Blocos de Montar</a></li>
                    <li><a href="#">Bonecos(as)</a></li>
                    <li><a href="#">Instrumentos Musicais</a></li>
                    <li><a href="#">Pelúcias</a></li>
                    <li><a href="#">Piscinas</a></li>
                    <li><a href="#">Skate, Patins e Patinetes</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Enxoval</a>
                <ul class="container-categorias">
                    <h3>Categorias</h3>
                    <li><a href="#">Alimentação</a></li>
                    <li><a href="#">Higiene e Cuidados</a></li>
                    <li><a href="#">Mamãe</a></li>
                    <li><a href="#">Quarto de Bebê</a></li>
                    <li><a href="#">Roupas e Acessórios</a></li>
                    <li><a href="#">Transporte</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Higiene e Saúde</a>
                <ul class="container-categorias">
                    <h3>Categorias</h3>
                    <li><a href="#">Banheiras</a></li>
                    <li><a href="#">Condicionador</a></li>
                    <li><a href="#">Escova para cabelo</a></li>
                    <li><a href="#">Fralda descartável</a></li>
                    <li><a href="#">Hidratante</a></li>
                    <li><a href="#">Lenços umidecidos</a></li>
                    <li><a href="#">Perfume</a></li>
                    <li><a href="#">Pomada para assadura</a></li>
                    <li><a href="#">Sabonete</a></li>
                    <li><a href="#">Shampoo</a></li>
                    <li><a href="#">Toalha</a></li>
                </ul>
            </li>
            <li><a href="#">Ofertas</a></li>
        </ul>  
    </header>
    <!-- js link -->
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>