<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cadastro</title>
<link rel="shortcut icon" href="../IMG/logo.png" type="image/x-icon" />
<link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
    <div class="container-top">
        <div class="container">
            <div class="container-left">
                <img src="../IMG/logo.png" class="logo">
            </div>
            <div class="container-right">
                <h1 class="title">Cadastro</h1>
                <div class="container-textbox">
                    <input type="text" class="textbox" placeholder="Nome completo" required>
                    <input type="text" class="textbox" placeholder="Email" required>
                    <input type="text" class="textbox" placeholder="Telefone" required>
                    <input type="text" class="textbox" placeholder="Nome de usuário" required>             
                </div>  
                <div class="container-password">
                <input type="password" class="textbox-password" placeholder="Senha" required>
                <input type="password" class="textbox-password" placeholder="Confirme sua senha" required>
                </div>    
                <button class="btn-cadastro">Cadastre-se</button>     
                <p class="login">Já possui uma conta? <a href="Vlogin.html" class="login-account">Entrar</a></p>
            </div>
        </div>
    </div>
    <div class="container-bottom">
        <footer class="container-footer">
            <div class="container-footer-top">
                <img src="../IMG/picture.svg" alt="" class="picture">
                <div class="container-informacoes">
                    <h5 class="veja-mais">Veja Mais</h5>
                    <a href="#" class="link">Atendimento</a>
                    <a href="#" class="link">Sobre nós</a>
                    <a href="#" class="link">Política de Privacidade</a>
                    <a href="#" class="link">Como Comprar</a>
                    <a href="#" class="link">Regras de Frete</a>
                    <a href="#" class="link">Cód. de Defesa do Consumidor</a>
                    <a href="#" class="link">Termos de Uso</a>
                </div>
                <div class="container-informacoes-presente">
                    <h5 class="presente-da-cegonha">Presente da Cegonha</h5>
                    <a href="#" class="link">Atendimento</a>
                    <a href="#" class="link">Cadastre-se</a>
                    <a href="#" class="link">Login</a>
                    <a href="#" class="link">Meus Pedidos</a>
                </div>
                <div class="container-redes-atendimento">
                    <div class="container-redes">
                        <h5 class="redes">Redes Sociais</h5>
                        <a href="" class="redes"><img src="../IMG/instagram.svg" class="redes-picture"></a>
                        <a href="" class="redes"><img src="../IMG/twitter.svg" class="redes-picture"></a>
                        <a href="" class="redes"><img src="../IMG/facebook2.svg" class="redes-picture"></a>      
                    </div>
                    <div class="container-atendimento">
                        <h5 class="atendimento">Atendimento</h5>
                        <p class="horario">Seg à Sex: 8:00h às 12h | 13h às 17:30h</p>
                        <div class="container-phone">
                            <img src="../IMG/phone-outline.svg" class="phone">
                            <p class="phone-number">(85) 91234-5678</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-footer-bottom">
                <h5 class="formas-pagamento">Formas de Pagamento</h5>
                <div class="container-pagamento-picture">
                    <img src="../IMG/boleto-logo.png" alt="" class="pagamento">
                    <img src="../IMG/mastercard.png" alt="" class="pagamento">
                    <img src="../IMG/visa.png" alt="" class="pagamento">
                    <img src="../IMG/diners.png" alt="" class="pagamento">
                    <img src="../IMG/hipercard-logo.svg" alt="" class="pagamento">
                    <img src="../IMG/amex-american-express-logo.svg" alt="" class="pagamento">
                    <img src="../IMG/elo.png" alt="" class="pagamento">
                    <img src="../IMG/pix-banco-central-logo.svg" alt="" class="pagamento">
                </div>               
            </div>
        </footer> 
    </div>      
</body>
</html>