<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cadastro</title>
<link rel="shortcut icon" href="../IMG/logo.png" type="image/x-icon" />
<link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
    <div class="container-top">
        <div class="container">
            <div class="container-left">
                <img src="../IMG/logo.png" class="logo">
            </div>
            <form class="container-right" autocomplete="off">
                <h1 class="title">Cadastro</h1>
                <div class="container-textbox">
                    <input type="text" class="textbox" placeholder="Nome completo" required>
                    <input type="text" class="textbox" placeholder="E-mail" required>
                    <input type="text" class="textbox" placeholder="Telefone" required>
                    <input type="text" class="textbox" placeholder="Nome de usuário" required>             
                </div>  
                <div class="container-password">
                <input type="password" class="textbox-password" placeholder="Senha" required>
                <input type="password" class="textbox-password" placeholder="Confirme sua senha" required>
                </div>    
                <input type="submit" class="btn-cadastro" value="Cadastre-se">   
                <p class="login">Já possui uma conta? <a href="Vlogin.html" class="login-account">Entrar</a></p>
            </form>
        </div>
    </div>
    <div class="container-bottom">
        <footer>
            <img src="../IMG/picture.svg" alt="" class="logo-footer">
            <div class="container-veja-mais">
                <h3 class="title-footer">Veja Mais</h3>
                <a href="#" class="link">Atendimento</a>
                <a href="#" class="link">Sobre nós</a>
                <a href="#" class="link">Política de Privacidade</a>
                <a href="#" class="link">Como Comprar</a>
                <a href="#" class="link">Regras de Frete</a>
                <a href="#" class="link">Cód. de Defesa do Consumidor</a>
                <a href="#" class="link">Termos de Uso</a>
            </div>
            <div class="container-presente-cegonha">
                <h3 class="title-footer">Presente da Cegonha</h3>
                <a href="#" class="link-presente">Atendimento</a>
                <a href="#" class="link-presente">Cadastre-se</a>
                <a href="#" class="link-presente">Login</a>
                <a href="#" class="link-presente">Meus Pedidos</a>
            </div>
            <div class="container-redes-atendimento">
                <div class="container-redes">
                    <h3 class="title-footer">Redes Sociais</h3>
                    <a href="#"><img src="../IMG/instagram.svg" alt="" class="redes-picture"></a>
                    <a href="#"><img src="../IMG/twitter.svg" alt="" class="redes-picture"></a>
                    <a href="#"><img src="../IMG/facebook2.svg" alt="" class="redes-picture"></a>
                </div>
                <div class="container-atendimento">
                    <h3 class="title-footer">Atendimento</h3>
                    <p class="sub-text">Seg à Sex: 8:00h às 12:00h | 13:00h às 17:30h</p>
                    <div class="container-phone">
                        <img src="../IMG/phone-outline.svg" class="phone-picture">
                        <p class="sub-text">(85) 92134-5678</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>      
</body>
</html>
