<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../IMG/logo.png" type="image/x-icon"/>
    <link rel="stylesheet" href="../CSS/inicio.css">
    <title>Início</title>
</head>
<body>
    <div class="menu">
        <div class="nav">
            <img src="../IMG/logo 1.png" alt="" class="logo">
            <div class="container-search">
                <input type="text" class="textbox" placeholder="O que você procura?">
                <button class="search"><img src="../IMG/search.svg" alt="" class="search-picture"></button>
            </div>   
            <div class="container-informations">
                <a href="#" class="link">Atendimento</a>
                <a href="#" class="link"><img src="../IMG/coracao.svg" alt="" class="heart"></a>
                <a href="#" class="link"><img src="../IMG/bag.svg" alt="" class="bag">0</a>
                <a href="#" class="link">Entrar</a>
            </div>           
        </div>
    </div>
</body>
</html>
