<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="../IMG/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../CSS/style.css">
</head>

<body>
    <div class="container-top">
        <div class="container">
            <div class="container-left">
                <img src="../IMG/logo.png" class="logo">
            </div>
            <div class="container-right">
                <h1 class="title">Entre</h1>
                <div class="container-textbox">
                    <input type="text" class="textbox" placeholder="Número de telefone/Nome de usuário/Email" required>
                    <input type="password" class="textbox" placeholder="Senha" required>
                </div>
                <button class="btn-entrar">Entrar</button>
                <p class="pass">Esqueceu sua senha? <a class="find-pass" href="#">Esqueci minha senha</a></p>
                <div class="container-or">
                    <div class="horizontal-line"></div>
                    <p class="or">OU</p>
                    <div class="horizontal-line"></div>
                </div>
                <div class="container-buttons">
                    <button class="btn-facebook">
                        <img src="../IMG/facebook.svg" class="logo-facebook">
                        Facebook
                    </button>
                    <button class="btn-google">
                        <img src="../IMG/google.svg" class="logo-google">
                        Google
                    </button>
                </div>
                <p class="create">Não possui uma conta? <a href="Vcadastro.html" class="create-account">Criar conta</a></p>
            </div>
        </div>
    </div>
    <div class="container-bottom">
        <footer class="container-footer">
            <img src="../IMG/picture.svg" alt="" class="picture">
            <div class="container-informacoes">
                <h5 class="veja-mais">Veja Mais</h5>
                <a href="#" class="link">Atendimento</a>
                <a href="#" class="link">Sobre nós</a>
                <a href="#" class="link">Política de Privacidade</a>
                <a href="#" class="link">Como Comprar</a>
                <a href="#" class="link">Regras de Frete</a>
                <a href="#" class="link">Cód. de Defesa do Consumidor</a>
                <a href="#" class="link">Termos de Uso</a>
            </div>
            <div class="container-informacoes-presente">
                <h5 class="presente-da-cegonha">Presente da Cegonha</h5>
                <a href="#" class="link-presente">Atendimento</a>
                <a href="#" class="link-presente">Cadastre-se</a>
                <a href="#" class="link-presente">Login</a>
                <a href="#" class="link-presente">Meus Pedidos</a>
            </div>
            <div class="container-redes-atendimento">
                <div class="container-redes">
                    <h5 class="redes">Redes Sociais</h5>
                    <a href="#" class="link"><img src="../IMG/instagram.svg" class="redes-picture"></a>
                    <a href="#" class="link"><img src="../IMG/twitter.svg" class="redes-picture"></a>
                    <a href="#" class="link"><img src="../IMG/facebook2.svg" class="redes-picture"></a>                                   
                </div>
                <div class="container-atendimento">
                    <h5 class="atendimento">Atendimento</h5>
                    <p class="horario">Seg à Sex: 8:00h às 12h | 13h às 17:30h</p>
                    <div class="container-phone">
                        <img src="../IMG/phone-outline.svg" class="phone">
                        <p class="phone-number">(85) 91234-5678</p>
                    </div>
                </div>
            </div>
        </footer> 
    </div>      
</body>

</html>