<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="../IMG/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../CSS/inicio.css">
</head>

<body>
    <div class="container">
        <div class="container-left">
            <img src="../IMG/logo.png" class="logo">
        </div>
        <div class="container-right">
            <h1 class="title">Entre</h1>
            <div class="container-textbox">
                <input type="text" class="textbox" placeholder="Número de telefone/Nome de usuário/Email" required>
                <input type="password" class="textbox" placeholder="Senha" required>
            </div>
            <button class="btn-entrar">Entrar</button>
            <p class="pass">Esqueceu sua senha? <a class="find-pass" href="#">Esqueci minha senha</a></p>
            <div class="container-or">
                <div class="horizontal-line"></div>
                <p class="or">OU</p>
                <div class="horizontal-line"></div>
            </div>
            <div class="container-buttons">
                <button class="btn-facebook">
                    <img src="../IMG/facebook.svg" class="logo-facebook">
                    Facebook
                </button>
                <button class="btn-google">
                    <img src="../IMG/google.svg" class="logo-google">
                    Google
                </button>
            </div>
            <p class="create">Não possui uma conta? <a href="Vcadastro.html" class="create-account">Criar conta</a></p>
        </div>
    </div>
    <footer class="footer">
        <img src="../IMG/wave.svg" alt="" class="wave">
    </footer>
</body>

</html>